html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ng-cloak {
    display: none;
}

.buoy-full-page,
.buoy-google-map {
    height: 100%;
}

.buoy-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 100px;
    z-index: 99;
}

.buoy-overlay-tools {
    position: relative;
    left: 0;
    right: 0;
    padding: 7px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
}

.buoy-overlay-tools .title {
    font-size: 24px;
}

.buoy-overlay-tools .content {
    display: none;
}

 .buoy-search-input {
     margin-bottom: 10px;
 }

 .buoy-search-results {
     max-height: 200px;
     overflow-y: scroll;
 }

 .buoy-station-details .title{
     font-size: 18px;
 }

@media (min-width: 600px) {
    .buoy-overlay {
        top: 27px;
        left: 100px;
        right: auto;
    }

    .buoy-overlay-tools {
        width: 350px;
        padding: 15px;
        border-radius: 4px;
    }
    
    .buoy-overlay-tools .content {
        display: block;
    }
}