html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ng-cloak {
    display: none;
}

.buoy-full-page,
.buoy-google-map {
    height: 100%;
}

.buoy-map-tools {
    position: relative;
    top: 27px;
    left: 100px;
}